@model X.PagedList.IPagedList<Product>;
@using PagedList.Core.Mvc
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .blog-item{
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    .blog-content{
        background: #fff!important;
    }
</style>
<!-- Begin Slider Area -->
<div class="slider-area">
    @if(TempData["error"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["error"]
        </div>
    })
    <!-- Main Slider -->
    <div class="swiper-container main-slider swiper-arrow with-bg_white">
        <div class="swiper-wrapper" style="margin-bottom: -10px;">
            <div class="swiper-slide animation-style-01">
                <div class="slide-inner bg-height" style="min-height: 250px; background-image:url('/assets/images/slider1.jpg') ; background-size:cover;background-position: center;
    background-repeat: no-repeat;">
                    <div class="container">
                        <div class="parallax-with-content">
                            <div class="slide-content">
                                <h2 class="title mb-9" style="font-size: 30px; color: #fff">Sale off 5% vào dịp lễ</h2>
                                <div class="button-wrap">
                                    <a class="btn btn-custom-size lg-size btn-primary btn-white-hover rounded-0" style="background: #F7646D; border-radius: 4px;">Shop Now</a>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide animation-style-01">
                <div class="slide-inner bg-height" style="min-height: 250px;  background-image:url('/assets/images/slider2.jpg') ; background-size:cover;background-position: center;
    background-repeat: no-repeat;" >
                    <div class="container">
                        <div class="parallax-with-content">
                            <div class="slide-content">
                                
                                <h2 class="title mb-9" style="font-size: 30px;">Siêu Sales </h2>
                                <div class="button-wrap">
                                    <a class="btn btn-custom-size lg-size btn-primary btn-white-hover rounded-0" style="background: #F7646D; border-radius: 4px;">Shop Now</a>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination with-bg d-md-none"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

</div>
<!-- Slider Area End Here -->
<!-- Begin Shipping Area -->
<div class="shipping-area section-space-top-100" style="margin-top:-60px">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                <div class="shipping-item" style="border: 1px solid #3399ff">
                    <div class="shipping-img">
                        <img src="~/assets/images/Freeship.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Miễn phí vận chuyển</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                <div class="shipping-item" style="border: 1px solid #3399ff">
                    <div class="shipping-img">
                        <img src="~/assets/images/support.png" alt="Shipping Icon" style=" width: 130px;height: 107px;">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Hỗ trợ trực tuyến 24/7</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                <div class="shipping-item" style="border: 1px solid #3399ff">
                    <div class="shipping-img">
                        <img src="~/assets/images/security.jpg" alt="Shipping Icon"  style=" width: 116px;height: 107px;">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Bảo mật thanh toán</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shipping Area End Here -->
<div class="container-area" style="background:#F5F5FA">
    <div class="product-area section-space-top-100" style="background: #fff">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav product-tab-nav pb-10" id="myTab" role="tablist" style="font-size: 20px;font-weight: 500;">
                        PHỔ BIẾN
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="all-items" role="tabpanel" aria-labelledby="all-items-tab">
                            <div class="product-item-wrap row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-xl-3 col-lg-4 col-sm-6" style="margin-bottom: 14px;">
                                        <a asp-controller="Product" asp-action="Product_Detail" asp-route-id="@item.ProductId">
                                            <div class="product-item">
                                                <div class="product-img">

                                                    <img class="img-full" src="@item.ProductImage" onerror="this.src='/assets/images/product/default_image.png';onerror='';"  alt="Product Images">
                                                </div>
                                                <div class="product-content" style="border-radius: 0 0 5px 5px;padding: 5px 10px 10px 10px;text-align: left">
                                                    <img src="https://salt.tikicdn.com/ts/tka/69/cf/22/1be823299ae34c7ddcd922e73abd4909.png" style="height: 20px; width: 80px;">
                                                    <span class="new-price" style="font-size: 13px; font-weight: 400; color: rgb(39, 39, 42);display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp: 2;overflow: hidden;text-overflow: ellipsis;">@item.ProductName</span>
                                                    <div class="rating-box">
                                                        <svg width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 12px; height: 12px;"><g clip-path="url(#a)"><path d="M6.448 2.029a.5.5 0 0 0-.896 0L4.287 4.59l-2.828.41a.5.5 0 0 0-.277.854l2.046 1.994-.483 2.816a.5.5 0 0 0 .726.528L6 9.863l2.53 1.33a.5.5 0 0 0 .725-.527l-.483-2.817 2.046-1.994a.5.5 0 0 0-.277-.853L7.713 4.59 6.448 2.029Z" fill="#FFC400"></path></g><defs><clipPath id="a"><path fill="#fff" transform="translate(1 1.5)" d="M0 0h10v10H0z"></path></clipPath></defs></svg>
                                                        <svg width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 12px; height: 12px;"><g clip-path="url(#a)"><path d="M6.448 2.029a.5.5 0 0 0-.896 0L4.287 4.59l-2.828.41a.5.5 0 0 0-.277.854l2.046 1.994-.483 2.816a.5.5 0 0 0 .726.528L6 9.863l2.53 1.33a.5.5 0 0 0 .725-.527l-.483-2.817 2.046-1.994a.5.5 0 0 0-.277-.853L7.713 4.59 6.448 2.029Z" fill="#FFC400"></path></g><defs><clipPath id="a"><path fill="#fff" transform="translate(1 1.5)" d="M0 0h10v10H0z"></path></clipPath></defs></svg>
                                                        <svg width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 12px; height: 12px;"><g clip-path="url(#a)"><path d="M6.448 2.029a.5.5 0 0 0-.896 0L4.287 4.59l-2.828.41a.5.5 0 0 0-.277.854l2.046 1.994-.483 2.816a.5.5 0 0 0 .726.528L6 9.863l2.53 1.33a.5.5 0 0 0 .725-.527l-.483-2.817 2.046-1.994a.5.5 0 0 0-.277-.853L7.713 4.59 6.448 2.029Z" fill="#FFC400"></path></g><defs><clipPath id="a"><path fill="#fff" transform="translate(1 1.5)" d="M0 0h10v10H0z"></path></clipPath></defs></svg>
                                                        <svg width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 12px; height: 12px;"><g clip-path="url(#a)"><path d="M6.448 2.029a.5.5 0 0 0-.896 0L4.287 4.59l-2.828.41a.5.5 0 0 0-.277.854l2.046 1.994-.483 2.816a.5.5 0 0 0 .726.528L6 9.863l2.53 1.33a.5.5 0 0 0 .725-.527l-.483-2.817 2.046-1.994a.5.5 0 0 0-.277-.853L7.713 4.59 6.448 2.029Z" fill="#FFC400"></path></g><defs><clipPath id="a"><path fill="#fff" transform="translate(1 1.5)" d="M0 0h10v10H0z"></path></clipPath></defs></svg>
                                                        <svg width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 12px; height: 12px;"><g clip-path="url(#a)"><path d="M6.448 2.029a.5.5 0 0 0-.896 0L4.287 4.59l-2.828.41a.5.5 0 0 0-.277.854l2.046 1.994-.483 2.816a.5.5 0 0 0 .726.528L6 9.863l2.53 1.33a.5.5 0 0 0 .725-.527l-.483-2.817 2.046-1.994a.5.5 0 0 0-.277-.853L7.713 4.59 6.448 2.029Z" fill="#FFC400"></path></g><defs><clipPath id="a"><path fill="#fff" transform="translate(1 1.5)" d="M0 0h10v10H0z"></path></clipPath></defs></svg>
                                                    </div>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price" style="font-size:16px; font-weight: 500;">@item.ProductPrice.Value.ToString("#,##0") đ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="pagination-area pt-10">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center" style="font-size: 25px; margin-bottom: 25px;">
                                @Html.PagedListPager(Model, page=>Url.Action("Index", new{page=page}))
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blog-area section-space-y-axis-100" style="background: #F5F5FA; padding-top: 30px; padding-bottom: 40px;">
        <div class="container">
            <div class="section-title text-center pb-55">
                <span class="sub-title text-primary">XEM THÊM</span>
                <h2 class="title mb-0" style="font-family: "Poppins", sans-serif;font-weight: 500;font-size: 28px;">Tin tức mới nhất</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="swiper-container blog-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="blog-item">
                                    <div class="blog-img">
                                        <a href="blog-detail-left-sidebar.html">
                                            <img class="img-full" src="https://salt.tikicdn.com/cache/280x280/ts/product/11/13/de/d500a772339882fd6660b3004da9733c.jpg.webp" alt="Blog Image">
                                        </a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-meta text-dim-gray pb-3">
                                            <ul>
                                                <li class="date"><i class="fa fa-calendar-o me-2"></i>May 21, 2021</li>
                                                <li>
                                                    <span class="comments me-3">
                                                        <a href="javascript:void(0)">5 bình luận</a>
                                                    </span>
                                                    <span class="link-share">
                                                        <a href="javascript:void(0)">Chia sẻ</a>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <h5 class="title mb-4">
                                            <a href="blog-detail-left-sidebar.html">Tiêu đề tin tức 1</a>
                                        </h5>
                                        <p class="short-desc mb-5">Nội dung tin tức 1</p>
                                        <div class="button-wrap">
                                            <a class="btn btn-custom-size btn-dark btn-lg rounded-0" href="blog-detail-left-sidebar.html">Đọc thêm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="blog-item">
                                    <div class="blog-img">
                                        <a href="blog-detail-left-sidebar.html">
                                            <img class="img-full" src="https://salt.tikicdn.com/cache/280x280/ts/product/a2/38/6c/ce008c63f4ac771550439da44f5f8ee8.png.webp" alt="Blog Image">
                                        </a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-meta text-dim-gray pb-3">
                                            <ul>
                                                <li class="date"><i class="fa fa-calendar-o me-2"></i>May 21, 2021</li>
                                                <li>
                                                    <span class="comments me-3">
                                                        <a href="javascript:void(0)">2 bình luận</a>
                                                    </span>
                                                    <span class="link-share">
                                                        <a href="javascript:void(0)">Chia sẻ</a>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <h5 class="title mb-4">
                                            <a href="blog-detail-left-sidebar.html">Tiêu đề tin tức 2</a>
                                        </h5>
                                        <p class="short-desc mb-5">Nội dung tin tức 2</p>
                                        <div class="button-wrap">
                                            <a class="btn btn-custom-size btn-dark btn-lg rounded-0" href="blog-detail-left-sidebar.html">Đọc thêm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="blog-item">
                                    <div class="blog-img">
                                        <a href="blog-detail-left-sidebar.html">
                                            <img class="img-full" src="https://salt.tikicdn.com/cache/280x280/ts/product/98/9b/52/89f12609da590e912ba9741bcf186603.jpg.webp" alt="Blog Image">
                                        </a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-meta text-dim-gray pb-3">
                                            <ul>
                                                <li class="date"><i class="fa fa-calendar-o me-2"></i>May 21, 2021</li>
                                                <li>
                                                    <span class="comments me-3">
                                                        <a href="javascript:void(0)">2 bình luận</a>
                                                    </span>
                                                    <span class="link-share">
                                                        <a href="javascript:void(0)">Chia sẻ</a>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <h5 class="title mb-4">
                                            <a href="blog-detail-left-sidebar.html">Tiêu đề tin tức 3</a>
                                        </h5>
                                        <p class="short-desc mb-5">Nội dung tin tức 3</p>
                                        <div class="button-wrap">
                                            <a class="btn btn-custom-size btn-dark btn-lg rounded-0" href="blog-detail-left-sidebar.html">Đọc thêm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

