@model X.PagedList.IPagedList<Product>;
@using PagedList.Core.Mvc
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .blog-item{
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    .blog-content{
        background: #fff!important;
    }

    .swiper-button-next:hover, .swiper-button-prev:hover {
        background-color: none!important;
        border-color: none !important;
        color: #3399ff;
    }
    .swiper-button-next:after, .swiper-button-prev:after{
        font-size: 25px;
    }

    .product-item {
        transition: transform 0.3s ease;
    }

    .product-item:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
        transform: translateY(-1px);
    }
    .title{
        font-family: Inter,Helvetica,Arial,sans-serif;

    }
    .title a:hover{
            color: initial !important;
            background-color: initial !important;
    }
    .shipping-area{
        margin-top: -75px;
        padding-bottom: 25px;
    }

    .link-share, .comments {
        text-transform: none;
    }
</style>
<!-- Begin Slider Area -->
<div class="slider-area">
    @if(TempData["error"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["error"]
        </div>
    }
    <!-- Main Slider -->
    <div class="swiper-container main-slider swiper-arrow with-bg_white">
        <div class="swiper-wrapper" style="margin-bottom: -10px;">
            <div class="swiper-slide animation-style-01">
                <div class="slide-inner bg-height" style="min-height: 250px; background-image:url('/assets/images/slider1.jpg') ; background-size:cover;background-position: center;
    background-repeat: no-repeat;">
                    <div class="container">
                        <div class="parallax-with-content">
                            <div class="slide-content">
                                <div class="title mb-9" style="font-size: 30px; color: #fff; font-family:Inter,Helvetica,Arial,sans-serif; line-height: 1.5; text-shadow: 1px 1px 1px #ccc;font-weight:530">
                                    <span style="color:#3399ff">TechnoShop</span> tặng kèm quà Tết từ đơn hàng <span style="color: red;">200k</span>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide animation-style-01">
                <div class="slide-inner bg-height" style="min-height: 250px;  background-image:url('/assets/images/slider2.jpg') ; background-size:cover;background-position: center;
    background-repeat: no-repeat;" >
                    <div class="container">
                        <div class="parallax-with-content">
                            <div class="slide-content">
                                <div class="title mb-9" style="font-size: 30px; color: #fff; font-family:Inter,Helvetica,Arial,sans-serif; line-height: 1.5; text-shadow: 1px 1px 1px #ccc;font-weight: 530;">
                                    Nhập mã <span style="color: #3399ff;">TNS590</span> giảm giá 5% cho tổng đơn hàng
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination with-bg d-md-none"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next" style="background: none; color: #fff;"></div>
        <div class="swiper-button-prev" style="background: none; color: #fff;"></div>
    </div>

</div>
<!-- Slider Area End Here -->
<!-- Begin Shipping Area -->
<div class="shipping-area section-space-top-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                <div class="shipping-item" style="border: 1px solid #3399ff">
                    <div class="shipping-img">
                        <img src="~/assets/images/Freeship.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Miễn phí vận chuyển</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                <div class="shipping-item" style="border: 1px solid #3399ff">
                    <div class="shipping-img">
                        <img src="~/assets/images/support.png" alt="Shipping Icon" style=" width: 130px;height: 107px;">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Hỗ trợ trực tuyến 24/7</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                <div class="shipping-item" style="border: 1px solid #3399ff">
                    <div class="shipping-img">
                        <img src="~/assets/images/security.jpg" alt="Shipping Icon"  style=" width: 116px;height: 107px;">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Bảo mật thanh toán</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shipping Area End Here -->
<div class="container-area" style="background:#F5F5FA; padding-bottom: 20px">
    <div class="product-area section-space-top-100" style="background: #F5F5FA; padding-top: 25px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav product-tab-nav" id="myTab" role="tablist" style="font-size: 20px;font-weight: 500;padding-bottom: 25px;">
                        SẢN PHẨM PHỔ BIẾN
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="all-items" role="tabpanel" aria-labelledby="all-items-tab">
                            <div class="product-item-wrap row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-xl-3 col-lg-4 col-sm-6" style="margin-bottom: 14px;">
                                        <a asp-controller="Product" asp-action="Product_Detail" asp-route-id="@item.ProductId">
                                            <div class="product-item" style="background: #fff">
                                                <div class="product-img">

                                                    <img class="img-full" src="@item.ProductImage" onerror="this.src='/assets/images/product/default_image.png';onerror='';"  alt="Product Images">
                                                </div>
                                                <div class="product-content" style="border-radius: 0 0 5px 5px;padding: 5px 10px 10px 10px;text-align: left">
                                                    <img src="https://salt.tikicdn.com/ts/tka/69/cf/22/1be823299ae34c7ddcd922e73abd4909.png" style="height: 20px; width: 80px;">
                                                    <span class="new-price" style="font-size: 13px; font-weight: 400; color: rgb(39, 39, 42);display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp: 2;overflow: hidden;text-overflow: ellipsis;">@item.ProductName</span>
                                                    <div class="rating-box">
                                                        <svg width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 12px; height: 12px;"><g clip-path="url(#a)"><path d="M6.448 2.029a.5.5 0 0 0-.896 0L4.287 4.59l-2.828.41a.5.5 0 0 0-.277.854l2.046 1.994-.483 2.816a.5.5 0 0 0 .726.528L6 9.863l2.53 1.33a.5.5 0 0 0 .725-.527l-.483-2.817 2.046-1.994a.5.5 0 0 0-.277-.853L7.713 4.59 6.448 2.029Z" fill="#FFC400"></path></g><defs><clipPath id="a"><path fill="#fff" transform="translate(1 1.5)" d="M0 0h10v10H0z"></path></clipPath></defs></svg>
                                                        <svg width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 12px; height: 12px;"><g clip-path="url(#a)"><path d="M6.448 2.029a.5.5 0 0 0-.896 0L4.287 4.59l-2.828.41a.5.5 0 0 0-.277.854l2.046 1.994-.483 2.816a.5.5 0 0 0 .726.528L6 9.863l2.53 1.33a.5.5 0 0 0 .725-.527l-.483-2.817 2.046-1.994a.5.5 0 0 0-.277-.853L7.713 4.59 6.448 2.029Z" fill="#FFC400"></path></g><defs><clipPath id="a"><path fill="#fff" transform="translate(1 1.5)" d="M0 0h10v10H0z"></path></clipPath></defs></svg>
                                                        <svg width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 12px; height: 12px;"><g clip-path="url(#a)"><path d="M6.448 2.029a.5.5 0 0 0-.896 0L4.287 4.59l-2.828.41a.5.5 0 0 0-.277.854l2.046 1.994-.483 2.816a.5.5 0 0 0 .726.528L6 9.863l2.53 1.33a.5.5 0 0 0 .725-.527l-.483-2.817 2.046-1.994a.5.5 0 0 0-.277-.853L7.713 4.59 6.448 2.029Z" fill="#FFC400"></path></g><defs><clipPath id="a"><path fill="#fff" transform="translate(1 1.5)" d="M0 0h10v10H0z"></path></clipPath></defs></svg>
                                                        <svg width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 12px; height: 12px;"><g clip-path="url(#a)"><path d="M6.448 2.029a.5.5 0 0 0-.896 0L4.287 4.59l-2.828.41a.5.5 0 0 0-.277.854l2.046 1.994-.483 2.816a.5.5 0 0 0 .726.528L6 9.863l2.53 1.33a.5.5 0 0 0 .725-.527l-.483-2.817 2.046-1.994a.5.5 0 0 0-.277-.853L7.713 4.59 6.448 2.029Z" fill="#FFC400"></path></g><defs><clipPath id="a"><path fill="#fff" transform="translate(1 1.5)" d="M0 0h10v10H0z"></path></clipPath></defs></svg>
                                                        <svg width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 12px; height: 12px;"><g clip-path="url(#a)"><path d="M6.448 2.029a.5.5 0 0 0-.896 0L4.287 4.59l-2.828.41a.5.5 0 0 0-.277.854l2.046 1.994-.483 2.816a.5.5 0 0 0 .726.528L6 9.863l2.53 1.33a.5.5 0 0 0 .725-.527l-.483-2.817 2.046-1.994a.5.5 0 0 0-.277-.853L7.713 4.59 6.448 2.029Z" fill="#FFC400"></path></g><defs><clipPath id="a"><path fill="#fff" transform="translate(1 1.5)" d="M0 0h10v10H0z"></path></clipPath></defs></svg>
                                                    </div>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price" style="font-size:16px; font-weight: 500;">@item.ProductPrice.Value.ToString("#,##0") đ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="pagination-area">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center" style="font-size: 25px; margin-bottom: 10px;">
                                @Html.PagedListPager(Model, page=>Url.Action("Index", new{page=page}))
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blog-area section-space-y-axis-100" style="background: #fff; padding-top: 30px; padding-bottom:20px;">
        <div class="container">
            <div class="section-title text-center" style="padding-bottom: 20px;">
                <h2 class="title mb-0" style=" font-family: Inter,Helvetica,Arial,sans-serif;font-weight: 500;font-size: 20px;">Tin tức mới nhất</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="swiper-container blog-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="blog-item">
                                    <div class="blog-img">
                                        <a href="blog-detail-left-sidebar.html">
                                            <img class="img-full" src="~/assets/images/aqua_blog.png" alt="Blog Image" style="height: 350px">
                                        </a>
                                    </div>
                                    <div class="blog-content" style=" font-family: Inter,Helvetica,Arial,sans-serif;">
                                        <div class="blog-meta text-dim-gray pb-3">
                                            <ul>
                                                <li class="date"><i class="fa fa-calendar-o me-2"></i>25/12/2023</li>
                                                <li>
                                                    <span class="comments me-3">
                                                        <a href="javascript:void(0)">5 Bình luận</a>
                                                    </span>
                                                    <span class="link-share">
                                                        <a href="javascript:void(0)">Chia sẻ</a>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <h5 class="title mb-4">
                                            <a href="https://dientungaynay.vn/san-pham-cong-nghe/dien-tu-tieu-dung">Dây chuyền sản xuất Smart Line chính thức đi vào hoạt động</a>
                                        </h5>
                                        <p class="short-desc mb-5">AQUA</p>
                                        <div class="button-wrap">
                                            <a class="btn btn-custom-size btn-dark btn-lg rounded-0" href="https://dientungaynay.vn/san-pham-cong-nghe/dien-tu-tieu-dung">Đọc thêm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="blog-item">
                                    <div class="blog-img">
                                        <a href="">
                                            <img class="img-full" src="~/assets/images/samsung_blog.png" alt="Blog Image" style="height: 350px">
                                        </a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-meta text-dim-gray pb-3">
                                            <ul>
                                                <li class="date"><i class="fa fa-calendar-o me-2"></i>26/12/2023</li>
                                                <li>
                                                    <span class="comments me-3">
                                                        <a href="javascript:void(0)">2 Bình luận</a>
                                                    </span>
                                                    <span class="link-share">
                                                        <a href="javascript:void(0)">Chia sẻ</a>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <h5 class="title mb-4">
                                            <a href="https://dientungaynay.vn/dien-tu-tieu-dung/samsung-ra-mat-4-giai-phap-hien-thi-moi-danh-cho-doanh-nghiep">Samsung ra mắt 4 giải pháp hiển thị mới cho doanh nghiệp</a>
                                        </h5>
                                        <p class="short-desc mb-5">Samsung</p>
                                        <div class="button-wrap">
                                            <a class="btn btn-custom-size btn-dark btn-lg rounded-0" href="https://dientungaynay.vn/dien-tu-tieu-dung/samsung-ra-mat-4-giai-phap-hien-thi-moi-danh-cho-doanh-nghiep">Đọc thêm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="blog-item">
                                    <div class="blog-img">
                                        <a href="blog-detail-left-sidebar.html">
                                            <img class="img-full" src="~/assets/images/macbook_blog.png" alt="Blog Image" style="height: 350px">
                                        </a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-meta text-dim-gray pb-3">
                                            <ul>
                                                <li class="date"><i class="fa fa-calendar-o me-2"></i>27/12/2023</li>
                                                <li>
                                                    <span class="comments me-3">
                                                        <a href="javascript:void(0)">2 Bình luận</a>
                                                    </span>
                                                    <span class="link-share">
                                                        <a href="javascript:void(0)">Chia sẻ</a>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <h5 class="title mb-4">
                                            <a href="https://dientungaynay.vn/dien-tu-tieu-dung/macbook-pro-moi-su-dung-chip-m3-co-gia-tu-3939-trieu-dong">MacBook Pro mới sử dụng chip M3 có giá từ 39,39 triệu đồng</a>
                                        </h5>
                                        <p class="short-desc mb-5">Apple</p>
                                        <div class="button-wrap">
                                            <a class="btn btn-custom-size btn-dark btn-lg rounded-0" href="https://dientungaynay.vn/dien-tu-tieu-dung/macbook-pro-moi-su-dung-chip-m3-co-gia-tu-3939-trieu-dong">Đọc thêm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

