@* @model DoAn_FrameWork.Models.Product *@
@model DoAn_FrameWork.ModelViews.ProductDetailViewModel

@{
    ViewData["Title"] = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" style="height: 50px;" data-bg-image="">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item" style="float:left;">
                        <ul>
                            <li>
                                <a href="index.html" style="color:#3399ff; font-weight: 600;">Cửa hàng<i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>Chi tiết sản phẩm</li>
                            <i class="pe-7s-angle-right"></i>
                            <li style="color: #3399FF;">@Model.Product.ProductName</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area section-space-top-100" style="padding-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-product-img h-100">
                        <div class="swiper-container single-product-slider">
                            <div class="swiper-wrapper">
                              
                                    @foreach (var item in Model.ProductImages)
                                    {
                                        
                                        <div class="swiper-slide">
                                            <a href="@item.Image" class="single-img gallery-popup">
                                                <img class="img-full" src="@item.Image" onerror="this.src='/assets/images/product/default_image.png';onerror='';" alt="Product Image" id="main_image"
                                              style="object-fit:contain;">
                                            </a>
                                        </div>
                                        
                                    }
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product-thumb-with-content row">
                        <div class="col-12 order-lg-1 order-2 pt-10 pt-lg-0">
                            <div class="single-product-content">
                                <h2 class="title" style=" font-family: Poppins, sans-serif; font-size: 25px; font-weight: 400;">@Model.Product.ProductName</h2>
                                <div class="price-box pb-1">
                                    <span class="new-price text-danger" style="font-size: 25px;">@Model.Product.ProductPrice<sup>₫</sup></span>
                                </div>
                                <div class="rating-box-wrap pb-7">
                                    <div class="rating-box">
                                        <span>
                                            <ul>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li>4.6 | Đã bán <span>@Model.Product.SaleQuantity</span></li>
                                            </ul>
                                        </span>
                                        
                                    </div>
                                </div>
                                <p class="short-desc mb-6" style="font-size: 17px;">
                                    
                                    <strong>Bảo hành</strong>: <span style="font-weight:500; color:#3399ff ">@Model.Product.WarrantyTime tháng</span>
                                    <br/>
                                    <br/>
                                    <span>Sản phẩm có sẳn:</span><span> @Model.Product.StockQuantity</span> 
                                </p>
                               @*  @if (@Model.Product.GroupProductId != null)
                                {
                                    <div class="varint_product_color" style="display: flex; margin-bottom: 15px;">
                                        <label for="variant-color" style="line-height: 56px;">Màu sắc</label>
                                        <div class="color-wrapper" style=" display: flex; margin-left: 25px;">
                                            <a asp-controller="Product" asp-action="Product_Detail" asp-route-id="@Model.VariantProducts.FirstOrDefault().ProductId">
                                                <div class="color-box" style="border: 1px solid #ccc; padding: 10px;margin: 5px;">Bạch Kim</div>
                                            </a>
                                            <a asp-controller="Product" asp-action="Product_Detail" asp-route-id="@Model.VariantProducts.Skip(1).FirstOrDefault().ProductId">
                                                <div class="color-box" style="border: 1px solid #ccc; padding: 10px;margin: 5px;">Xanh</div>
                                            </a>

                                        </div>
                                    </div>
                                } *@
                               
                               
                                <div class="quantity-with-btn pb-7" style="display: flex;">
                                    <label style="line-height: 50px;">Số lượng</label>
                                    <div class="quantity">
                                        <div class="cart-plus-minus" style="margin-left: 25px; margin-top: 10px;">
                                            <input id="data-amount" class="cart-plus-minus-box" value="1" type="text" style="height: 30px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="rating-box-wrap pb-7">
                                    <div class="add-to-cart">
                                        <a class="btn btn-custom-size lg-size btn-primary btn-secondary-hover rounded-0 wcart" data-productid="@Model.Product.ProductId" href="#!" style="border-radius: 3px;">Thêm vào giỏ hàng</a>
                              @*           <a class="btn btn-custom-size lg-size btn-primary btn-secondary-hover rounded-0" href="cart.html" style="background-color: #FF424E; border-radius: 3px;">Mua ngay</a> *@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 order-lg-2 order-1 pt-10 pt-lg-0">
                         
                            
                            <div class="swiper-container single-product-thumbs">
                                <div class="swiper-wrapper">
                                    @foreach (var item in Model.ProductImages)
                                    {
                                        <div class="swiper-slide">
                                            <img class="img-full feature_image" src="@item.Image" alt="Product Thumbnail">
                                        </div>
                                    }
                                </div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-tab-area section-space-top-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav product-tab-nav product-tab-style-2" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="active btn btn-custom-size" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">
                                Description
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="btn btn-custom-size" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">
                                Reviews
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="btn btn-custom-size" id="shipping-tab" data-bs-toggle="tab" href="#shipping" role="tab" aria-controls="shipping" aria-selected="false">
                                Shipping
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content product-tab-content">
                        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                            <div class="product-description-body">
                                <p class="short-desc mb-0">
                                    @Model.Product.ProductDesc
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                            <div class="product-review-body">
                                <h4 class="heading mb-5">3 Đánh giá</h4>
                                <ul class="user-info-wrap">
                                    <li>
                                        <ul class="user-info">
                                            <li class="user-avatar">
                                                <img src="https://salt.tikicdn.com/cache/750x750/ts/product/79/3b/b8/b133553304074a398d267dfccc3854a0.jpg" alt="User Image">
                                            </li>
                                            <li class="user-comment">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="meta">
                                                    <span><strong>Ngọc Tuấn -</strong> 18:42 30-11-2023</span>
                                                </div>
                                                <p class="short-desc mb-0">
                                                    Giá thành rẻ, miễn síp, shop hỗ trợ nhiệt tình.
                                                </p>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="user-info">
                                            <li class="user-avatar">
                                                <img src="https://salt.tikicdn.com/cache/750x750/ts/product/79/3b/b8/b133553304074a398d267dfccc3854a0.jpg" alt="User Image">
                                            </li>
                                            <li class="user-comment">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                        <li><i class="pe-7s-star"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="meta">
                                                    <span><strong>Ngọc Tuấn -</strong>18:42 30-11-2023</span>
                                                </div>
                                                <p class="short-desc mb-0">
                                                   "Quá đẹp!"
                                                </p>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="feedback-area pt-5">
                                    <h2 class="heading mb-1">Để lại đánh giá</h2>
                                    <div class="rating-box">
                                        <span>Đánh giá của bạn</span>
                                        <ul class="ps-4">
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                            <li><i class="pe-7s-star"></i></li>
                                        </ul>
                                    </div>
                                    <form class="feedback-form pt-8" action="#">
                                        <div class="group-input">
                                            <div class="form-field me-md-6 mb-6 mb-md-0">
                                                <input type="text" name="name" placeholder="Họ và tên..." class="input-field">
                                            </div>
                                            <div class="form-field me-md-6 mb-6 mb-md-0">
                                                <input type="text" name="email" placeholder="Email của bạn..." class="input-field">
                                            </div>
                                        </div>
                                        <div class="form-field mt-6">
                                            <textarea name="message" placeholder="Nhận xét..." class="textarea-field"></textarea>
                                        </div>
                                        <div class="button-wrap mt-8">
                                            <button type="submit" value="submit" class="btn btn-custom-size lg-size btn-secondary btn-primary-hover btn-lg rounded-0" name="submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
                            <div class="product-shipping-body">
                                <h4 class="title">Giao hàng</h4>
                                <p class="short-desc mb-4">
                                   Thời gian giao hàng 15-20 ngày
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-slider-area section-space-top-95 section-space-bottom-100">
        <div class="container">
            <div class="section-title text-center pb-55">
                <h2 class="title mb-0">Sản phẩm liên quan</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="swiper-slider-holder swiper-arrow">

                        <div class="swiper-container product-slider border-issue">

                            <div class="swiper-wrapper">
                                @* <h2>@Model.RelativeProducts.Count</h2> *@
                               
                                    @foreach (var item in Model.RelativeProducts)
                                    {
                                     <div class="col-lg-3 " style="margin-bottom: 14px;">
                                        <a asp-controller="Product" asp-action="Product_Detail" asp-route-id="@item.ProductId">
                                            <div class="product-item" style="padding: 10px;">
                                                <div class="product-img">
                                                    <img class="img-full" src="@item.ProductImage" onerror="this.src='/assets/images/product/default_image.png';onerror='';" alt="Product Images">
                                                </div>
                                                <div class="product-content texx">
                                                    <img src="https://salt.tikicdn.com/ts/tka/69/cf/22/1be823299ae34c7ddcd922e73abd4909.png" style="height: 20px; width: 80px;">
                                                    <span class="new-price" style="font-size: 13px; font-weight: 400; color: rgb(39, 39, 42);display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp: 2;overflow: hidden;text-overflow: ellipsis;">@item.ProductName</span>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">@item.ProductPrice.Value.ToString("#,##0")<super>đ</super></span>
                                                    </div>
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                     </div>
                                    }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts{
    <script>
        

            $(function () {
                $(".wcart").click(function () {
                    var productid = parseInt($(this).attr("data-productid"));

                    var amount = parseInt($("#data-amount").val());
                   
                    $.ajax({
                        url: '/api/cart/add',
                        type: "POST",
                        dataType: "JSON",
                        data: { productid: productid,
                                amount: amount},
                        success: function (response) {
                            console.log(response);
                            if (response.success == 'false') {
                                console.log(response);
                            }
                            else {
                                // loadHeaderCart();
                                // location.reload();
                                console.log("Thêm vào giỏ hàng thành công");
                            }
                           
                           
                        },
                        error: function (error) {
                          
                            console.log(error.responseText);
                        }
                    });
                });
            });
        

            // function loadHeaderCart() { 
            //     $('#headerCart').load("/AjaxContent/HeaderCart");
            // }
           
          
            
        // });
    </script>
}