@model IEnumerable<DoAn_FrameWork.Areas.Admin.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="col">
            <h2 class="page-title">
                Sản phẩm
            </h2>
        </div>
        <div class="row g-2 align-items-center">
            <div class="col-md-8">
                <div class="card-body">
                    <ol class="breadcrumb breadcrumb-arrows">
                        <li class="breadcrumb-item active"><a href="#">List</a></li>
                        <!-- Các mục breadcrumb khác nếu cần -->
                    </ol>
                </div>
            </div>
            <div class="col-md-auto">
                <form asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" autocomplete="off" novalidate="">
                    <div class="input-icon">
                        <span class="input-icon-addon">
                            <!-- Biểu tượng tìm kiếm -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><circle cx="10" cy="10" r="7"></circle><line x1="21" y1="21" x2="15" y2="15"></line></svg>
                        </span>
                        <input type="text" value="@ViewBag.SearchTerm" class="form-control" placeholder="Search…" aria-label="Search in website" name="searchTerm">
                    </div>
                </form>
            </div>
            <div class="col-md-1">
                <a class="btn btn-success w-100" asp-area="Admin" asp-controller="AdminProducts" asp-action="Create">
                    Add
                </a>
            </div>

        </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-body">
                <div id="table-default" class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><button class="table-sort" data-sort="sort-name">ID</button></th>
                                <th><button class="table-sort" data-sort="sort-city">Tên sản phẩm</button></th>
                                <th><button class="table-sort" data-sort="sort-city">Ảnh</button></th>
                                <th><button class="table-sort" data-sort="sort-city">Màu sắc</button></th>
                                <th><button class="table-sort" data-sort="sort-city">Options</button></th>

                               @*  <th><button class="table-sort" data-sort="sort-city">Mô tả</button></th> *@
                                <th><button class="table-sort" data-sort="sort-city">Giá</button></th>
                                <th><button class="table-sort" data-sort="sort-city">Giảm giá</button></th>
                                <th><button class="table-sort" data-sort="sort-city">SLB</button></th>
                                <th><button class="table-sort" data-sort="sort-city">SLK</button></th>
                                <th><button class="table-sort" data-sort="sort-city">Bảo hành</button></th>
                                <th><button class="table-sort" data-sort="sort-city">Danh mục</button></th>
                                <th><button class="table-sort" data-sort="sort-city">Nhóm sản phẩm</button></th>
                                <th><button class="table-sort" data-sort="sort-type">Action</button></th>
                            </tr>
                        </thead>
                        <tbody class="table-tbody">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="sort-name">@item.ProductId</td>
                                    <td class="sort-city">@item.ProductName</td>
                                    <td class="sort-city"><img src="@item.ProductImage"/></td>
                                    <td class="sort-city">@item.Color</td>
                                    <td class="sort-city">@item.Options</td>

                                    @* <td class="sort-city">@item.ProductDesc</td> *@
                                    <td class="sort-city">@item.ProductPrice</td>
                                    <td class="sort-city">@item.DiscountPercentage</td>
                                    <td class="sort-city">@item.SaleQuantity</td>
                                    <td class="sort-city">@item.StockQuantity</td>
                                    <td class="sort-city">@item.WarrantyTime</td>
                                    <td class="sort-city">@Html.DisplayFor(modelItem => item.Category.CategoryName)</td>
                                    <td class="sort-city">@Html.DisplayFor(modelItem => item.GroupProduct.GroupProductName)</td>
                                    <td class="sort-type" >
                                        <div style="display: flex;">
                                            <div>
                                                <a class="btn btn-primary w-10" asp-area="Admin" asp-controller="AdminProducts" asp-action="Edit" asp-route-id="@item.ProductId">
                                                    Edit
                                                </a>
                                            </div>

                                            <div>
                                                <a class="btn btn-danger w-10 btn-delete" href="@Url.Action("Delete", "AdminProducts", new { id = item.ProductId })" data-toggle="tooltip" title="Delete">
                                                    Delete
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <div class="col-md-auton mt-3" style="display: flex; flex-grow: 1;">
                        <ul class="pagination">
                            @if (ViewBag.TotalPages > 1)
                            {
                                @if (ViewBag.CurrentPage > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1, pageSize = ViewBag.PageSize })">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 6l-6 6l6 6"></path></svg>
                                        </a>
                                    </li>
                                }

                                for (int i = 1; i <= ViewBag.TotalPages; i++)
                                {
                                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                        <a class="page-link" href="@Url.Action("Index", new { page = i, pageSize = ViewBag.PageSize })">@i</a>
                                    </li>
                                }

                                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1, pageSize = ViewBag.PageSize })">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 6l6 6l-6 6"></path></svg>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                        <div class="btn-export">
                            <a asp-area="Admin" asp-controller="AdminProducts" asp-action="ExportProductsInExcel" class="btn btn-outline-success w-10">
                                Export to Excel
                            </a>
                        </div>
                    </div>
                    
                </div>

            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.btn-delete').on('click', function (e) {
            e.preventDefault();

            var deleteUrl = $(this).attr('href');
            var deleteButton = $(this);

            Swal.fire({
                title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Gửi yêu cầu Ajax để xóa
                    $.ajax({
                        url: deleteUrl,
                        type: 'GET', // Hoặc 'DELETE' tùy thuộc vào cấu hình của bạn
                        success: function (response) {
                            // Xử lý thành công (có thể làm mới trang hoặc xóa hàng từ bảng)
                            deleteButton.closest('tr').remove();
                            Swal.fire('Deleted!', 'Your record has been deleted.', 'success');

                        },
                        error: function (error) {
                            Swal.fire('Error!', 'An error occurred while deleting the record.', 'error');
                            console.log(deleteUrl);
                        }
                    });
                }
            });
        });
    });
</script>

@* <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaleQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarrantyTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupProduct)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarrantyTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupProduct.GroupProductName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@