@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DoAn_FrameWork.Areas.Admin.Models.Order

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <!-- CSS files -->
    <link href="~/admintemplate/dist/css/style.css" rel="stylesheet" />
    <link href="~/admintemplate/dist/css/tabler.min.css?1684106062" rel="stylesheet" />
    <link href="~/admintemplate/dist/css/tabler-flags.min.css?1684106062" rel="stylesheet" />
    <link href="~/admintemplate/dist/css/tabler-payments.min.css?1684106062" rel="stylesheet" />
    <link href="~/admintemplate/dist/css/tabler-vendors.min.css?1684106062" rel="stylesheet" />
    <link href="~/admintemplate/dist/css/demo.min.css?1684106062" rel="stylesheet" />
    <link href="~/admintemplate/dist/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/_content/AspNetCoreHero.ToastNotification/notyf.min.css">



</head>
<body>

    <div class="page-body">
        <div class="container-xl">
            <div class="card card-lg">

                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <p class="h3">Company</p>
                            <address>
                                45 Tân Lập<br>
                                Đông Hòa, Dĩ An<br>
                                Bình Dương<br>
                                TechNoShop@gmail.com
                            </address>
                        </div>

                        <div class="col-6 text-end">
                            <p class="h3">Client</p>
                            <address>
                                @Model.Shipping?.ShippingAddress<br>
                                @*  State, City<br>
                                Region, Postal Code<br> *@
                                @Model.Customer?.CustomerEmail
                            </address>
                        </div>
                        <div class="col-12 my-5">
                            <h1>Invoice @Model.OrderId</h1>
                        </div>
                    </div>
                    <table class="table table-transparent table-responsive">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 1%"></th>
                                <th>Product</th>
                                <th class="text-center" style="width: 1%">Qnt</th>
                                <th class="text-end" style="width: 1%">Unit</th>
                                <th class="text-end" style="width: 1%">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderDetails)
                            {
                                <tr>
                                    <td class="text-center">@item.OrderDetailsId</td>
                                    <td>
                                        <p class="strong mb-1">@item.Product?.ProductName</p>
                                        <div class="text-muted">@item.Product?.ProductDesc</div>
                                    </td>
                                    <td class="text-center">
                                        @item.ProductSalesQuantity
                                    </td>
                                    <td class="text-end">@String.Format("{0:N0}", item.Product?.ProductPrice) VNĐ</td>
                                    <td class="text-end">@String.Format("{0:N0}",item.ProductSalesQuantity*item.Product?.ProductPrice) VNĐ</td>
                                </tr>
                            }


                            @* <tr>
                            <td colspan="4" class="strong text-end">Subtotal</td>
                            <td class="text-end">@String.Format("{0:N0}", Model.OrderTotal) VNĐ</td>
                            </tr> *@

                            <tr>
                                <td colspan="4" class="strong text-uppercase text-end">Total Due</td>
                                <td class="font-weight-bold text-end">@String.Format("{0:N0}", Model.OrderTotal) VNĐ</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="text-muted text-center mt-5">
                        Thank you very much for doing business with us. We look forward to working with
                        you again!
                    </p>
                </div>
            </div>
        </div>
    </div>



@*     <script src="/admintemplate/dist/js/demo-theme.min.js?1684106062"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/admintemplate/dist/libs/apexcharts/dist/apexcharts.min.js?1684106062" defer></script>
    <script src="/admintemplate/dist/libs/jsvectormap/dist/js/jsvectormap.min.js?1684106062" defer></script>
    <script src="/admintemplate/dist/libs/jsvectormap/dist/maps/world.js?1684106062" defer></script>
    <script src="/admintemplate/dist/libs/jsvectormap/dist/maps/world-merc.js?1684106062" defer></script>
    <!-- Tabler Core -->
    <script src="/admintemplate/dist/js/tabler.min.js?1684106062" defer></script>
    <script src="/admintemplate/dist/js/demo.min.js?1684106062" defer></script>
    <script src="/_content/AspNetCoreHero.ToastNotification/notyf.min.js"></script> *@
</body>
</html>

